.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0 5%;
   
}
.more-btn-div{
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
} 
.more-btn-div a{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: crimson;
    margin: 10px 0;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .product-container {
        grid-template-columns: 1fr;
    }

}
@media only screen and (min-width: 600px) {

    .product-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 768px) {

    .product-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
