.add-btn{
    display: block;
    background-color: blueviolet;
    color: #fff;
    margin-bottom: 100px; 
    border:none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
} 
.add-product-page h2,.section-header{
    text-align: center;
    font-size: 24px;
    color: #555;
    margin: 10px 20px; 
    position: relative;
    margin-bottom: 30px;
} 
.add-product-page h2::after,.section-header:after{
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: blueviolet;
    content: ''; 
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}